<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
	id="lanista-plugin-estimotebeacon"
	version="0.8.1">

	<name>LanistaEstimoteBeacons</name>
	<description>Lanista Cordova/PhoneGap plugin for Estimote beacons.</description>
	<license>Private</license>
	<keywords>Lanista, Estimote, Beacons</keywords>

	<js-module src="plugin/src/js/EstimoteBeacons.js" name="EstimoteBeacons">
		<clobbers target="lanista" />
	</js-module>

	<platform name="ios">

		<config-file parent="/*" target="config.xml">
			<feature name="Estimote">
				<param name="ios-package" value="CDVEstimote" />
			</feature>
		</config-file>

		<framework src="CoreBluetooth.framework"/>
		<framework src="CoreLocation.framework"/>
		<framework src="SystemConfiguration.framework"/>

		<source-file framework="true" src="plugin/lib/ios/EstimoteSDK/libEstimoteSDK.a"/>

		<header-file src="plugin/lib/ios/EstimoteSDK/Headers/ESTBeaconFirmwareVO.h"/>
		<header-file src="plugin/lib/ios/EstimoteSDK/Headers/ESTFirmwareInfoVO.h"/>
		<header-file src="plugin/lib/ios/EstimoteSDK/Headers/ESTBeaconManager.h"/>
		<header-file src="plugin/lib/ios/EstimoteSDK/Headers/ESTBeaconRegion.h"/>
		<header-file src="plugin/lib/ios/EstimoteSDK/Headers/ESTBeaconVO.h"/>
		<header-file src="plugin/lib/ios/EstimoteSDK/Headers/ESTBeaconDefinitions.h"/>
		<header-file src="plugin/lib/ios/EstimoteSDK/Headers/ESTBeacon.h"/>
		<header-file src="plugin/lib/ios/EstimoteSDK/Headers/ESTDefinitions.h"/>
		

		<header-file src="src/ios/CDVEstimote.h" />
		<source-file src="src/ios/CDVEstimote.m" />

	</platform>

	<platform name="android">
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="EstimoteBeacons" >
				<param name="android-package" value="com.lanista.EstimoteBeacons"/>
			</feature>
		</config-file>
		<config-file target="AndroidManifest.xml" parent="/manifest">
			<uses-permission android:name="android.permission.BLUETOOTH" />
			<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
		</config-file>
		<config-file target="AndroidManifest.xml" parent="/manifest/application">
			<service android:name="com.estimote.sdk.service.BeaconService" android:exported="false"/>
		</config-file>

		<framework src="plugin/src/android/lanista.gradle" custom="true" type="gradleReference" />

		<source-file src="plugin/src/android/EstimoteBeacons.java" target-dir="src/com/lanista" />
		<source-file src="plugin/src/android/estimote-sdk.aar" target-dir="libs" />
		<source-file src="plugin/src/android/gradle.properties" target-dir="." />
	</platform>

</plugin>
